.our-benefit{
    padding: 50px 0;

    .bg-wrap-image, .bg-break-image{
        position: relative;
        margin-bottom: 20px;
        img{
            border-radius: 20px;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    
    .bg-chicken-image{
        position: relative;

        img{
            border-radius: 20px;
            width: 100%;
            height: 350px;
            object-fit: cover;

        } 
         

    }
/*
    .bg-wrap-image::before, .bg-break-image::before,   .bg-chicken-image::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: $iconColor;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.5;
        border-radius: 15px;
    }
    .bg-wrap-image:hover:before, .bg-break-image:hover:before, .bg-chicken-image:hover:before{
        opacity: 0;
    }
*/
    .break-content, .wrap-content, .chicken-content{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; 
        padding: 80px 50px;
        color: $btnColor;
        

    }







/*
    .break-overlay, .wrap-overlay, .chicken-overlay{
        @extend %overLay;
    }
  */
    .benefit-content{
        padding: 30px 0 ;

        .facility{
           /* .image{
                img{
                    color: $mainColor;
                }
            }*/
            margin-bottom: 15px;
            border: 3px dashed $borderColor;
            border-radius: 15px;
            padding: 15px 5px 5px 5px;
            transition: all 0.4s ease;
            h3{
                padding-bottom: 5px;
                padding-left: 10px;
            }

            p{
                padding-left: 10px;
                color: #B69282;
            }
        }
        .facility:hover{
            border: 3px dashed $mainColor;
        }

    }
}